= render partial: "brands_filter"
.row
  - @brands.each do |brand|
    .span3.box-padding-bottom
      %h3.box-header= brand.name 
      = link_to  content_tag('img', nil, src: "images/brands/image2.png"), products_brand_path(brand.id)
      .wrap-box-footer
        %p.max-width= brand.description
        .wrap-count-products-and-action
          %strong
            = brand.products.count
          %span
            Products
          = link_to content_tag('i', nil, class: 'icon-trash'),brand_path(brand.id), class: "align-right", method: :delete, data: { confirm: "Do you want to delete category: " + brand.name }
          = link_to content_tag('i', nil, class: 'icon-pencil'), edit_brand_path(brand.id), class: "align-right"

