= form_for(@category) do |f|
  .field
    .span3
      // For imag

    .span9.pull-right        
      = f.label :name
      = f.text_field :name
    
      = f.label :description
      = f.text_field :description

      = f.label :photo
      = f.file_field :photo
    
    .span12.footer-form  
      = f.submit "Save" , class: "btn btn-success button-spacing"
      = link_to 'Cancel' , categories_path() , class: "btn"   