= render partial: "categories_filter"
.row
  .span12
    ///
    ///  Alert message after action
    ///..............................................
    
    - flash.each do |name, msg|
      - if msg.is_a?(String)
        %div{class: "alert alert-#{name == :notice ? "success" : "error"}"}
          %a.close{"data-dismiss" => "alert"} ×
          = content_tag :span, msg, id: "flash_#{name}"  

.row
  - @categories.each do |category|
    .span3.box-padding-bottom
      %h3.box-header= category.name 
      / %img{src: "images/image1.png"}
      / = link_to  content_tag('img', nil, src: "images/categories/image1.png"), products_category_path(category.id)
      = link_to products_category_path(category.id) do
        = image_tag (category.photo.url(:larg))
      .wrap-box-footer
        %p.max-width= category.description
        .wrap-count-products-and-action
          %strong
            = category.products.count
          %span
            Products
          = link_to content_tag('i', nil, class: 'icon-trash'), category_path(category.id), class: "align-right", method: :delete, data: { confirm: "Do you want to delete category: " + category.name }
          = link_to content_tag('i', nil, class: 'icon-pencil'), edit_category_path(category.id), class: "align-right"
