= render partial: "product_filter"
.row
  = render partial: "left_menu"

  .span9
    .row
      - @products.each do |product|
        .span9.product-list-contain
          = link_to  content_tag('img', nil, src: "/images/products/products_list/image1-small.png"), product_path(product.id), class: " pull-left"
          .product-list-name-desc-contain.pull-left
            = link_to product.name, product_path(product.id)
            %p
              = product.description

          .product-list-cate-bra-pri-contain.pull-right
            %strong
              CAT
            %span
              = product.category.name
            %strong
              BRA
            %span
              = product.brand.name 
            %h3
              $
              = product.price    

            .product-list-action-contain
              = link_to content_tag('i', nil, class: 'icon-trash'), product_path(product.id), class: "align-right pull-right", method: :delete, data: { confirm: "Do you want to delete category: " + product.name }
              = link_to content_tag('i', nil, class: 'icon-pencil pull-right'), edit_product_path(product.id), class: "align-right pull-right"