= form_for(@product, html: {multipart: true}) do |f|
  .field
    .span3
      // for img

    .span9.pull-right  
      = f.label :name
      = f.text_field :name, class: "textbox-form-width"
    
      = f.label :price
      = f.text_field :price, class: "textbox-form-width"
    
      = f.label :description
      = f.text_area :description, class: "textarea-form"
    
      = f.label :photo
      = f.file_field :photo
    

      = f.label :category
      = f.select :category_id, options_from_collection_for_select(@categories, "id", "name", @product.category_id), prompt: "Please select category", class: "select-form-width"

      = f.label :brand
      = f.select :brand_id, options_from_collection_for_select(@brands, "id", "name", @product.brand_id), prompt: "Please select category", class: "select-form-width"

      = f.label :top_product
      = f.check_box :top_product

    .span12.footer-form  
      = f.submit "Save" , class: "btn btn-success button-spacing"
      = link_to 'Cancel' , products_path() , class: "btn"