
= form_tag(search_products_path(), method: "get") do
  
  .span3 
    //for image

  .span9.pull-right 
    = label_tag :name
    = text_field_tag(:name,"", class: "textbox-form-width")
    
    = label_tag :price
    = text_field_tag(:price,"", class: "textbox-form-width")
    
    = label_tag :description
    = text_area_tag(:description,"", class: "textarea-form")
    
    = label_tag :category
    = select_tag :category, options_from_collection_for_select(@categories, "id", "name"), prompt: "Please select category", class: "select-form-width dropdown-toggles"

    = label_tag :brand
    = select_tag :brand, options_from_collection_for_select(@brands, "id", "name"), prompt: "Please select brand", class: "select-form-width dropdown-toggles"

    = label_tag :top_product
    = check_box_tag :top_product


  .span12.footer-form
    = submit_tag 'Save', class: "btn btn-success button-spacing"  
    = link_to 'Cancel' , products_path() , class: "btn"   